<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        ActivyList
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/disciplina" class="nav-link">Disciplina</a>
        </li>
        <li class="nav-item">
            <a href="/admin/atividade" class="nav-link">Atividade</a>
        </li>
        <li class="nav-item">
            <a href="/atividades/page/1" class="nav-link">Atividades</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/logout" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>