<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>
    <div class="container mt-5">
        <hr>
        <div class="conteudo">
            <h1>Bem vindo ao ActivyList</h1>
        </div>
        <hr>
        <br>
        <div class="sub-title">
            <h2>Nossa plataforma é focada para aqueles que gostam de fazer suas atividades de forma
                digital.
            </h2>
            <hr>
            <h3>Você apenas cadastra sua disciplina e coloca as atividades que pertence a ela e pronto.
            </h3>
            <br>
            <ul class="list-group">
                <li class="list-group-item">Texto Acessível</li>
                <li class="list-group-item">Disciplinas</li>
                <li class="list-group-item">Atividades</li>
                <li class="list-group-item">Segurança</li>
                <li class="list-group-item">Agilidade</li>
            </ul>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>